{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block header %}
    {% include '/_includes/_mobileNavbar.html.twig' %}
    <div class="ptk-titleContainer">
        <h1 class="ptk-titleHeader">Projects</h1>
    </div>
    <div class="ptk-underTitleContainer">
        <p id="ptk-addProjectIcon">+</p>
        <a href="{{ path('app_project_new') }}" id="ptk-createProjectLink"> Create a project</a>
    </div>
{% endblock %}

{% block filters %}
    <div class="ptk-filterContainer">
        <a href="{{ path('app_home_orderBy', {'orderBy': 'views'}) }}" class="ptk-filterLinks">Most viewed /</a>
        <a href="{{ path('app_home_orderBy', {'orderBy': 'newest'}) }}" class="ptk-filterLinks">Newest projects /</a>
        <a href="{{ path('app_home_orderBy', {'orderBy': 'oldest'}) }}" class="ptk-filterLinks">Oldest projects</a>
    </div>
{% endblock %}

{% block underFilters %}
    <p class="ptk-blockDescription">Projects by departments</p>
{% endblock %}

{% block body %}
    {% include '/_includes/_mobileCharts.html.twig' %}

    <div class="ptk-cardsBlock">

    {% for category in categories %}
    <div class="ptk-categoryCardsContainer">
        <div class="ptk-categorySection">
            <div class="ptk-categoryContainer">
                <h1 class="ptk-category">{{ category.title }}</h1>
            </div>

            <div class="ptk-homeCategoryBttns">
                <button class="ptk-leftRightBttn" id="ptk-leftBttnId" type="button"><img class="ptk-arrowBttn" src="{{ asset('build/images/arrow.png') }}" alt="left"></button>
            </div>
            <div class="ptk-cardsContainer" id="ptk-cardsContainerId">

                {% for project in projects %}
                {% if category.id == project.category_id %}
                    {% if project.is_archived != true %}
                        <a href="{{ path('app_project_show', {'id': project.id,'orderBy': 'show'}) }}" class="ptk-cardsLink">
                        <div class="ptk-cards ptk-cardMarginRight">
                            <div class="ptk-cardTitleContainer">
                                    <h1 class="ptk-cardTitle">{{ project.title|striptags|length > 40 ? project.title|striptags|slice(0, 40) ~ '...' : project.title|striptags }}</h1>
                            </div>
                            <div class="ptk-cardStatsContainer" style="background-color: {{ category.categoryColor }}">
                                <div class="ptk-cardIconStats">
                                    <img src="{{ asset('build/images/like.png') }}" alt="like">
                                        <p class="ptk-cardStatsNo">20</p>
                                </div>
                                <div class="ptk-cardIconStats">
                                    <img src="{{ asset('build/images/idea.png') }}" alt="idea">
                                    <p class="ptk-cardStatsNo">{{ project.ideaCount }}</p>
                                   </div>
                                <div class="ptk-cardIconStats">

                                    <img src="{{ asset('build/images/view.png') }}" alt="Views">
                                    <p class="ptk-cardStatsNo">{{ project.project_views is null ? 0 : project.project_views  }}</p>
                                </div>
                            </div>
                        </div>
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="ptk-homeCategoryBttns">
                <button class="ptk-leftRightBttn" id="ptk-rightBttnId" type="button"><img class="ptk-arrowBttn rightBttn" src="{{ asset('build/images/arrow.png') }}" alt="left" id="ptk-rightBttnId"></button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
