{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="ptk-titleBlock">
        <div class="ptk-titleContainer">
        <h1 class="ptk-titleHeader">Projects</h1>
        </div>
    </div>

    <div class="ptk-underTitleBlock">
        <div class="ptk-createProjectContainer">
            <p id="ptk-addProjectIcon">+</p>
            <a href="{{ path('app_project_new') }}" id="ptk-createProjectBttn"> Create a project</a>
        </div>
    </div>

    <div class="ptk-filterBlock">
        <div class="ptk-filterContainer">
        <a href="{{ path('filter_by_popularity') }}" class="ptk-filterBttns">Popularity /</a>
        <a href="{{ path('filter_by_categories') }}" class="ptk-filterBttns">Categories /</a>
        <a href="{{ path('filter_by_desc') }}" class="ptk-filterBttns">Newest projects /</a>
        <a href="{{ path('filter_by_asc') }}" class="ptk-filterBttns">Oldest projects</a>
        </div>
    </div>

<div class="ptk-cardsBlock">

    {% for category in categories %}
    <div class="ptk-categoryCardsContainer">
        <div class="ptk-categorySection">
            <div class="ptk-categoryContainer">
                <h1 class="ptk-category">{{ category.title }}</h1>
            </div>

            <div class="ptk-cardsContainer">
                {% for project in projects %}
                {% if category.title == project.category.title %}

                <a href="{{ path('app_project_show', {'id': project.id}) }}" class="ptk-cardsLink">
                        <div class="ptk-cards">
                            <div class="ptk-cardTitleContainer" style="background-image: url('{{ asset('build/images/bgBlockIdea.png') }}');background-size: cover">
                                    <h1 class="ptk-cardTitle">{{ project.title|striptags|length > 40 ? project.title|striptags|slice(0, 40) ~ '...' : project.title|striptags }}</h1>
                            </div>

                            <div class="ptk-cardStatsContainer">
                                <div class="ptk-cardIcons">
                                    <img src="{{ asset('build/images/like.png') }}" alt="like">
                                    <img src="{{ asset('build/images/idea.png') }}" alt="like">
                                    <img src="{{ asset('build/images/view.png') }}" alt="like">
                                </div>
                                <div class="ptk-cardStats">
                                    <p class="ptk-cardStatsNo">25</p>
                                    <p class="ptk-cardStatsNo">35</p>

                                    <p class="ptk-cardStatsNo">{{ project.projectViews is null ? project.projectViews == 0 : project.projectViews  }}</p>

                                </div>
                                <div class="ptk-cardIconStats">
                                    <img src="{{ asset('build/images/view.png') }}" alt="Views">
                                    <p class="ptk-cardStatsNo">{{ proj.projectViews }}</p>
                                </div>
                            </div>
                        </div>
                </a>

                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
