{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="ptk-titleBlock">
        <div class="ptk-titleContainer" style="background-image: url('{{ asset('build/images/business.jpg') }}');background-size: cover">
        <h1 class="ptk-titleHeader">Projects</h1>
        </div>
    </div>

    <div class="ptk-underTitleBlock">
        <div class="ptk-createProjectContainer">
            <p id="ptk-addProjectIcon">+</p>
            <a href="#" id="ptk-createProjectBttn"> Create a project</a>
        </div>
    </div>

    <div class="ptk-filterBlock">
        <div class="ptk-filterContainer">
        <a href="{{ path('filter_by_popularity') }}" class="ptk-filterBttns">Popularity /</a>
        <a href="{{ path('filter_by_categories') }}" class="ptk-filterBttns">Categories /</a>
        <a href="{{ path('filter_by_desc') }}" class="ptk-filterBttns">Newest projects /</a>
        <a href="{{ path('filter_by_asc') }}" class="ptk-filterBttns">Oldest projects</a>
        </div>
    </div>


    {% for cat in category %}
    <div class="ptk-cardsBlock">

            <div class="ptk-categoryContainer">
                <h1 class="ptk-category">{{ cat.title }}</h1>

            </div>

        {% for proj in project %}
            {% if cat.title == proj.category.title %}

        <div class="ptk-cardsContainer">

            <a href="#" class="ptk-cardsLink">

                    <div class="ptk-cards">

                        <div class="ptk-cardTitleContainer" style="background-image: url('{{ asset('build/images/bgBlockIdea.png') }}');background-size: cover">

                                <h1 class="ptk-cardTitle">{{ proj.title }}</h1>


                        </div>


                <div class="ptk-cardStatsContainer">
                    <div class="ptk-cardIcons">
                    <img src="{{ asset('build/images/like.png') }}" alt="like">
                    <img src="{{ asset('build/images/idea.png') }}" alt="like">
                    <img src="{{ asset('build/images/view.png') }}" alt="like">
                    </div>
                    <div class="ptk-cardStats">
                        <p class="ptk-cardStatsNo">25</p>
                        <p class="ptk-cardStatsNo">35</p>
                        <p class="ptk-cardStatsNo">45</p>
                    </div>

                </div>

                    </div>


            </a>


        </div>
            {% endif %}
        {% endfor %}

    </div>

    {% endfor %}

{% endblock %}
