<a href="{{ path('app_home') }}">Accueil</a>

{% if app.user %}

    {% if (form is defined) and (edit is not defined) %}
        {{ form_start(form, {'attr': {'class': 'searchBar'}}) }}
        {{ form_widget(form, {'attr': {'class': 'inputSearchBar'}}) }}
        {{ form_end(form) }}
    {% endif %}

    <a href="{{ path('app_user_show', {'id': app.user.id}) }}"> {{ app.user.lastname }} {{ app.user.firstname }}</a>
    <a href="{{ path('app_category_index') }}"> Admin </a>
    <a href="{{ path('app_logout') }}"> Se déconnecter </a>
{% else %}
    <a href="{{ path('app_login') }}">Se connecter </a>
{% endif %}
