{% extends '/adminBase.html.twig' %}

{% block title %}Admin - Projects{% endblock %}

{% block adminTitle %}<h1 class="ptk-adminTitle">Projects</h1>{% endblock %}

{% block adminBody %}

    <div class="ptk-adminViewInfoContainer">
        <table>
            <thead>
            <tr>
                <th class="ptk-adminTableHeader">Title</th>
                <th class="ptk-adminTableHeader">Content</th>
                <th class="ptk-adminTableHeader">Created At</th>
                <th class="ptk-adminTableHeader">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr class="ptk-adminDataRow">
                    <td class="ptk-adminTableData">{{ project.title|striptags|length > 40 ? project.title|striptags|slice(0, 40) ~ '...' : project.title|striptags }}</td>
                    <td class="ptk-adminTableData">{{ project.content|striptags|length > 40 ? project.content|striptags|slice(0, 40) ~ '...' : project.content|striptags }}</td>
                    <td class="ptk-adminTableData">{{ project.createdAt ? project.createdAt|date('d-m-Y') : '' }}</td>
                    <td class="ptk-teamBttns">
                        <a href="{{ path('app_admin_project_view', {'id': project.id}) }}" class="ptk-bttns ptk-smlBttns">View</a>
                        <form method="post" action="{{ path('app_admin_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                            <button class="ptk-bttns ptk-smlBttns">Delete</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
