    <div class="formLogin">
        <div class="formCloseContainer">
            <a class="formCloseLink">
                <img src="{{ asset('build/images/closeBtn.png') }}" alt="Close"/>
            </a>
        </div>
        <div class="formLoginTitle">
            <h1>LOGIN</h1>
            <h1>LOGIN</h1>
        </div>
        <div>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <div class="formLoginBody">
            <form action="{{ path('app_login') }}" method="post" class="loginForm">
                <label for="username">Login ID:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <label class="formTextCheckbox">
                    <input type="checkbox" name="_remember_me" id="formLoginCheckbox" checked/>
                    Keep me logged in
                </label>
                <div class="formLoginLink">
                    <a href="{{ path('app_forgot_password_request') }}">Forgot password</a>
                </div>
                <div class="loginBtnContainer">
                    <button type="submit" class="ptk-bttns">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
