
        <div class="ptk-formContainer" id="ptk-editIdeaFormContainer">
            <div class="ptk-formCloseContainer">
                <a class="ptk-formCloseBttn" id="ptk-closeEditIdeaModalLink">
                    <img src="{{ asset('build/images/closeBtn.png') }}" alt="Close"/>
                </a>
            </div>
            <div class="ptk-formTitleContainer">
                <h1 class="ptk-formTitle">Edit Idea</h1>
            </div>
            {{ form_start(formEditIdea) }}
            <div class="ptk-formErrors ptk-formContainerMargins">
                {{ form_errors(formEditIdea) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(formEditIdea.title, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(formEditIdea.title, {'attr': {'class': 'ptk-formTitleInput'}}) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(formEditIdea.content, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(formEditIdea.content, {'attr': {'class': 'ptk-formContentInput'}}) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(formEditIdea.ideaColor, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(formEditIdea.ideaColor, {'attr': {'class': 'ptk-formTitleInput'}}) }}
            </div>
            {{ form_row(formEditIdea._token) }}
            <div class="ptk-formBttnsContainer">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="ptk-bttns">{{ button_label|default('Save') }}</button>
                {{ form_end(formEditIdea) }}
                <form method="post" action="{{ path('app_idea_delete', {'id': idea.id}) }} name="deleteProject""
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idea.id) }}">
                    <button class="btn ptk-bttns" name="deleteIdea">Delete</button>
                </form>
            </div>
        </div>
