{% extends 'base.html.twig' %}

{% block title %}Edit Idea{% endblock %}

{% block body %}
    <div class="ptk-formBlock">
        <div class="ptk-formContainer">
            <div class="ptk-formCloseContainer">
                <a href="{{ path('app_idea_show', {id: idea.id}) }}" class="ptk-formCloseBttn">X</a>
            </div>

            <div class="ptk-formTitleContainer">
                <h1 class="ptk-formTitle">Edit Idea</h1>
            </div>

            {{ form_start(form) }}

            <div class="ptk-formErrors ptk-formContainerMargins">
                {{ form_errors(form) }}
            </div>

            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(form.title, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(form.title, {'attr': {'class': 'ptk-formTitleInput'}}) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(form.content, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(form.content, {'attr': {'class': 'ptk-formContentInput'}}) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(form.ideaColor, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(form.ideaColor, {'attr': {'class': 'ptk-formTitleInput'}}) }}
            </div>

            {{ form_row(form._token) }}


            <div class="ptk-formBttnsContainer">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="ptk-formBttns">{{ button_label|default('Save') }}</button>
                <form method="post" action="{{ path('app_idea_delete', {'id': idea.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idea.id) }}">
                    <button class="btn ptk-formBttns">Delete</button>
                </form>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
