<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon32.png') }}"/>
    <title>
        {% block title %}Partake{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="ptk-stickyContainer">
        <div class="ptk-navbarContainer">
            {% include '/_includes/_navbar.html.twig' %}
        </div>
        <div class="ptk-flashMessagesContainer">
            {% for category, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert ptk-flashMessages alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="ptk-underfiltersContainer">
            {% block underFilters %}{% endblock %}
        </div>
    </div>
    <div class="ptk-formBlock">
        <div class="ptk-formContainer">
            <div class="ptk-formCloseContainer">
                <a href="{{ path('app_idea_show', {id: idea.id}) }}" class="ptk-formCloseBttn">X</a>
            </div>

            <div class="ptk-formTitleContainer">
                <h1 class="ptk-formTitle">Edit Idea</h1>
            </div>

            {{ form_start(form) }}

            <div class="ptk-formErrors ptk-formContainerMargins">
                {{ form_errors(form) }}
            </div>

            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(form.title, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(form.title, {'attr': {'class': 'ptk-formTitleInput'}}) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(form.content, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(form.content, {'attr': {'class': 'ptk-formContentInput'}}) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(form.ideaColor, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(form.ideaColor, {'attr': {'class': 'ptk-formTitleInput'}}) }}
            </div>

            {{ form_row(form._token) }}

            <div class="ptk-formBttnsContainer">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="ptk-formBttns">{{ button_label|default('Save') }}</button>
                <form method="post" action="{{ path('app_idea_delete', {'id': idea.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idea.id) }}">
                    <button class="btn ptk-formBttns">Delete</button>
                </form>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
</body>
</html>
