
        <div class="ptk-formContainer" id="ptk-newIdeaFormContainer">
            <div class="ptk-formCloseContainer">
                <a class="ptk-formCloseBttn" id="ptk-closeNewIdeaModalLink">
                    <img src="{{ asset('build/images/closeBtn.png') }}" alt="Close"/>
                </a>
            </div>
            <div class="ptk-formTitleContainer">
                <h1 class="ptk-formTitle">New Idea</h1>
            </div>
            {{ form_start(formNew) }}
            <div class="ptk-formErrors ptk-formContainerMargins">
                {{ form_errors(formNew) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(formNew.title, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(formNew.title, {'attr': {'class': 'ptk-formTitleInput'}}) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(formNew.content, 'Desciption', {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(formNew.content, {'attr': {'class': 'ptk-formContentInput'}}) }}
            </div>
            <div class="ptk-formRow ptk-formContainerMargins">
                {{ form_label(formNew.ideaColor, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
                {{ form_widget(formNew.ideaColor, {'attr': {'class': 'ptk-formIdeaColours'}}) }}
            </div>
            {{ form_row(formNew._token) }}
            <div class="ptk-formBttnsContainer">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="ptk-formBttns">{{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(formNew, {'render_rest': false }) }}
        </div>
