{% extends 'base.html.twig' %}

{% block title %}Idea{% endblock %}

{% block body %}
<div class="ptk-ideaShowBlock">

    <div class="ptk-ideaShowContainer">

        <div class="ptk-ideaCloseContainer">
            <a href="{{ path('app_project_show', {'id': idea.project.id}) }}" class="ptk-ideaCloseBttn">Close</a>
            {% if user.id == idea.user.id %}
                <a href="{{ path('app_idea_edit', {'id': idea.id}) }}" class="ptk-ideaCloseBttn">edit</a>
            {% endif %}
        </div>

        <div class="ptk-ideaTitleContainer">
            <h1 class="ptk-ideaTitle">{{ idea.title }}</h1>
        </div>

        <div class="ptk-ideaContentContainer">
            <p class="ptk-ideaContent">{{ idea.content }}</p>
        </div>

        <div class="ptk-ideaInfoContainer">
            <div class="ptk-cardStatsContainer">
                <div class="ptk-cardIconStats">
                    <img src="{{ asset('build/images/like.png') }}" class="ptk-ideaInfoIcons" alt="likes">
                    <p class="ptk-ideaStatsNo">25</p>
                </div>
                <div class="ptk-cardIconStats">
                    <img src="{{ asset('build/images/comment.png') }}" class="ptk-ideaInfoIcons" alt="Comments">
                    <p class="ptk-ideaStatsNo">{{ comments|length }}</p>
                </div>
                <div class="ptk-cardIconStats">
                    <img src="{{ asset('build/images/view.png') }}" class="ptk-ideaInfoIcons" alt="Views">
                    <p class="ptk-ideaStatsNo">{{ idea.ideaViews }}</p>
                </div>
            </div>
        </div>

        <div class="ptk-ideaFilterContainer">
            <a href="#" class="ptk-ideaFilters">Newest / </a>
            <a href="#" class="ptk-ideaFilters">Oldest / </a>
            <a href="#" class="ptk-ideaFilters">Most liked</a>
        </div>

        <div class="ptk-ideaCommentsContainer">
        {% for comment in comments %}
            {% if comment.idea.id == idea.id %}
            <div class="ptk-ideaCommentsByUser">
                <a href="#" class="ptk-ideaCommentUser">{{ comment.user.firstname }} {{ comment.user.lastname }}</a>
                <p class="ptk-ideaComments">{{ comment.content }}</p>
                    {% if app.user.id == comment.user.id %}
                    <a href="{{ path('app_comment_edit', {id: comment.id}) }}">
                        <img src="{{ asset('build/images/modify-button-25.png') }}" alt="modify">
                    </a>
                {{ include('comment/_delete_form.html.twig') }}
                    {% endif %}

                    <div class="ptk-ideaCommentLikeContainer">
                    <img src="{{ asset('build/images/like.png') }}" class="ptk-ideaCommentLikeIcon" alt="likes">
                    <p class="ptk-ideaCommentLikeNo">25</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>


        <div class="ptk-ideaPostCommentContainer">
            <h3 style="text-align: center;">Leave a comment</h3>

            {{ include('comment/_form.html.twig') }}

        </div>

    </div>

</div>
{% endblock %}
