<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon32.png') }}"/>
        <title>
            {% block title %}Partake{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div class="ptk-stickyContainer">
            <div class="ptk-navbarContainer">
                {% include '/_includes/_navbar.html.twig' %}
            </div>
            <div class="ptk-flashMessagesContainer">
                {% for category, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert ptk-flashMessages alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="ptk-headerContainer">
                {% block header %}{% endblock %}
            </div>
            <div class="ptk-filtersContainer">
                {% block filters %}{% endblock %}
            </div>
            <div class="ptk-underfiltersContainer">
                {% block underFilters %}{% endblock %}
            </div>
        </div>
        <div class="ptk-bodyContainer">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
