{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="headProjectPage">
        <img src="{{ asset('build/images/bgProjectPage.png') }}" alt="Project Page">
        <h1>Projects</h1>
    </div>
    <div class="showProjectsPage">
        {% for category in categories %}
        <h2>{{ category.title }}</h2>
        {% endfor %}
        <div class="projectContainer">
            {% for project in projects %}
                <div class="projectShowContainer">
                    <img src="{{ asset('build/images/bgBlockProject.png') }}" alt="like">
                    <div class="projectTitle">
                        {{ project.title }}
                    </div>
                    <div class="projectShowCounter">
                        <img src="{{ asset('build/images/like.png') }}" alt="like">
                        <img src="{{ asset('build/images/idea.png') }}" alt="like">
                        <img src="{{ asset('build/images/view.png') }}" alt="like">
                        {{ project.projectViews }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
