{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
<div class="ptk-formBlock">
    <div class="ptk-formContainer">

        <div class="ptk-formCloseContainer">
            <a href="{{ path('app_home')}}" class="ptk-formCloseBttn">X</a>
        </div>

        <div class="ptk-formTitleContainer">
            <h1 class="ptk-formTitle">New Project</h1>
        </div>

        {{ form_start(form) }}

        <div class="ptk-formErrors ptk-formContainerMargins">
            {{ form_errors(form) }}
        </div>

        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(form.title, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'ptk-formTitleInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(form.category, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(form.category, {'attr': {'class': 'ptk-formTitleInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(form.content, 'Description', {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(form.content, {'attr': {'class': 'ptk-formContentInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(form.usersSelectOnProject, 'Authorize access', {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(form.usersSelectOnProject, {'attr': {'class': 'ptk-formContentInput'}}) }}
        </div>

        {{ form_row(form._token) }}

        <div class="ptk-formBttnsContainer">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="ptk-formBttns">{{ button_label|default('Save') }}</button>
        </div>

        {{ form_end(form, {'render_rest': false }) }}
    </div>
</div>
{% endblock %}

