{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block header %}
    <div class="ptk-titleContainer">
        <h1 class="ptk-ideaTitleHeader">{{ project.title }}</h1>
    </div>
    <div class="ptk-underTitleBlock">
        <p class="ptk-projectContent">{{ project.content }}</p>
    </div>
    {% if project.user.id == app.user.id %}
        <form method="post" action="{{ path('app_project_archived', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to archive this project?');">
            <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ project.id) }}">
            <button class="archive-button" type="submit">Archive project</button>
        </form>
    {% endif %}
{% endblock %}

{% block filters %}
    <div class="ptk-createdAtContainer">
        <p class="ptk-createdAt">Created at:</p>
        <p class="ptk-createdAt">{{ project.createdAt ? project.createdAt|date('d-m-Y') : '' }}</p>
    </div>
    <div class="ptk-filterContainer">
        <p class="ptk-filterSeparators"> Order by: </p>
        <a href="{{ path('app_project_show', {'id': project.id, 'orderBy': 'newest'}) }}" class="ptk-filterLinks">newest</a>
        <p class="ptk-filterSeparators">/</p>
        <a href="{{ path('app_project_show', {'id': project.id, 'orderBy': 'oldest'}) }}" class="ptk-filterLinks">oldest</a>
        <p class="ptk-filterSeparators">/</p>
        <a href="{{ path('app_project_show', {'id': project.id, 'orderBy': 'likes'}) }}" class="ptk-filterLinks">likes</a>
        <p class="ptk-filterSeparators">/</p>
        <a href="{{ path('app_project_show', {'id': project.id, 'orderBy': 'comments'}) }}" class="ptk-filterLinks">comments</a>
        <p class="ptk-filterSeparators">/</p>
        <a href="{{ path('app_project_show', {'id': project.id, 'orderBy': 'views'}) }}" class="ptk-filterLinks">views</a>
    </div>
{% endblock %}

{% block underFilters %}
    <p class="ptk-blockDescription">Ideas</p>
    <a href="{{ path('app_idea_new', {'id': project.id}) }}" id="ptk-addIdeaLink">
        <div class="ptk-addIdeaContainer">
            <p id="ptk-addIdeaIcon">+</p>
            <p class="ptk-addIdea">Add Idea</p>
        </div>
    </a>
{% endblock %}

{% block body %}
    {% if project.isArchived != true %}
        <div class="ptk-cardsBlock">
            <div class="ptk-ideaCardsContainer">
                {% for idea in ideas %}
                    <a href="{{ path('app_idea_show', {'id': idea.id}) }}" class="ptk-cardsLink">
                        <div class="ptk-ideaCards ptk-cardMarginRight" style="border: 2.5px solid {{idea.ideaColor}}">
                            <div class="ptk-cardIdeaTitleContainer">
                                <h1 class="ptk-cardIdeaTitle">{{ idea.title|striptags|length > 40 ? idea.title|striptags|slice(0, 40) ~ '...' : idea.title|striptags }}</h1>
                            </div>

                            <div class="ptk-cardIdeaStatsContainer">
                                <div class="ptk-cardStatsContainer">
                                    <div class="ptk-cardIconStats">
                                        <img src="{{ asset('build/images/like.png') }}" class="ptk-ideaInfoIcons" alt="like">
                                        <p class="ptk-cardStatsNo">{{ idea.ideaLikes }}</p>
                                    </div>
                                    <div class="ptk-cardIconStats">
                                        <img src="{{ asset('build/images/comment.png') }}" class="ptk-ideaInfoIcons" alt="Comments">
                                        <p class="ptk-cardStatsNo">{{ idea.ideaComments }}</p>
                                    </div>
                                    <div class="ptk-cardIconStats">
                                        <img src="{{ asset('build/images/view.png') }}" class="ptk-ideaInfoIcons" alt="Views">
                                        <p class="ptk-cardStatsNo">{{ idea.ideaViews }}</p>
                                    </div>
                                        </div>
                                    </div>
                            </div>
                    </a>
                {% endfor %}
                        </div>
            </div>
                {% else %}
            <div class="ptk-titleBlock">
                <div class="ptk-titleContainer">
                    <h1 style="color: red;">This project is archived</h1>
                </div>
                <form method="post" action="{{ path('app_project_unarchived', {'id': project.id}) }}" onsubmit="return confirm('Do you want to unarchive this project?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('unarchive' ~ project.id) }}">
                    <button class="archive-button" style="align-items: center;" type="submit">Unarchive project</button>
                </form>
            </div>

        {% endif %}

{% endblock %}

