{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
{% if project.isArchived != 1 %}
    <div class="ptk-titleBlock">
        <div class="ptk-titleContainer">
            <h1 class="ptk-titleHeader">{{ project.title }}</h1>
        </div>
        {% if project.user.id == app.user.id %}
        <form method="post" action="{{ path('app_project_archived', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to archive this project?');">
            <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ project.id) }}">
            <button class="archive-button" type="submit">Archive project</button>
        </form>
            {% endif %}
    </div>

    <div class="ptk-underTitleBlock">
            <p class="ptk-projectContent">{{ project.content }}</p>
    </div>
    <div class="ptk-createdAtContainer">
        <p class="ptk-createdAt">Created at:</p>
        <p class="ptk-createdAt">{{ project.createdAt ? project.createdAt|date('Y-m-d') : '' }}</p>
    </div>

    <div class="ptk-filterBlock">
        <div class="ptk-filterContainer">
            <a href="{{ path('filter_by_popularity') }}" class="ptk-filterBttns">Newest /</a>
            <a href="{{ path('filter_by_categories') }}" class="ptk-filterBttns">Oldest /</a>
            <a href="{{ path('filter_by_desc') }}" class="ptk-filterBttns">Order by likes /</a>
            <a href="{{ path('filter_by_asc') }}" class="ptk-filterBttns">Order by comments /</a>
            <a href="{{ path('filter_by_asc') }}" class="ptk-filterBttns">Order by views</a>
        </div>
    </div>

        <div class="ptk-ideaCardsBlock">
            <div class="ptk-ideaCatContainer">
                <p id="ptk-ideaCat">Ideas</p>
            </div>
            <div class="ptk-ideaCardsContainer">
                        {% for idea in ideas %}
                        <a href="{{ path('app_idea_show', {id: idea.id}) }}" class="ptk-cardsLink">
                            <div class="ptk-ideaCards" style="border: 4px solid {{idea.ideaColor}}">
                                <div class="ptk-cardIdeaTitleContainer">
                                    <h1 class="ptk-cardIdeaTitle">{{ idea.title|striptags|length > 40 ? idea.title|striptags|slice(0, 40) ~ '...' : idea.title|striptags }}</h1>
                                </div>

                                <div class="ptk-cardIdeaStatsContainer">
                                    <div class="ptk-cardStatsContainer">
                                        <div class="ptk-cardIconStats">
                                            <img src="{{ asset('build/images/like.png') }}" class="ptk-ideaInfoIcons" alt="like">
                                            <p class="ptk-cardStatsNo">25</p>
                                        </div>
                                        <div class="ptk-cardIconStats">
                                            <img src="{{ asset('build/images/comment.png') }}" class="ptk-ideaInfoIcons" alt="Comments">
                                            <p class="ptk-cardStatsNo">35</p>
                                        </div>
                                        <div class="ptk-cardIconStats">
                                            <img src="{{ asset('build/images/view.png') }}" class="ptk-ideaInfoIcons" alt="Views">
                                            <p class="ptk-cardStatsNo">{{ idea.ideaViews }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
            </div>
            <div class="ptk-addIdeaBlock">
                <a href="{{ path('app_idea_new', {id: project.id}) }}" id="ptk-addIdeaIcon">+</a>
            </div>
        </div>
    {% else %}
        <div class="ptk-titleBlock">
            <div class="ptk-titleContainer">
                <h1 style="color: red;">This project is archived</h1>
            </div>
            <form method="post" action="{{ path('app_project_unarchived', {'id': project.id}) }}" onsubmit="return confirm('Do you want to unarchive this project?');">
                <input type="hidden" name="_token" value="{{ csrf_token('unarchive' ~ project.id) }}">
                <button class="archive-button" style="align-items: center;" type="submit">Unarchive project</button>
            </form>
        </div>

    {% endif %}

{% endblock %}
