<div class="ptk-profileFormContainer">
    <div class="ptk-formCloseContainer">
        <a class="ptk-formCloseBttn">
            <img src="{{ asset('build/images/closeBtn.png') }}" alt="Close"/>
        </a>
    </div>
    <div class="ptk-formTitleContainer">
        <h1 class="ptk-formTitle">Edit Profile</h1>
    </div>
    {{ form_start(formEdit) }}
    <div class="ptk-formErrors ptk-formContainerMargins">
        {{ form_errors(formEdit) }}
    </div>
    <div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(formEdit.firstname, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(formEdit.firstname, {'attr': {'class': 'ptk-formTitleInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(formEdit.lastname, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(formEdit.lastname, {'attr': {'class': 'ptk-formTitleInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(formEdit.birthday, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(formEdit.birthday, {'attr': {'class': 'ptk-formBirthdayInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            <h2 class="ptk-formLabels">Department</h2>
            <p class="ptk-formTitleInput">{{ user.category.title }}</p>
        </div>
    </div>
    <div>
        <div class="ptk-formRow ptk-formContainerMargins">
            <h2 class="ptk-formLabels">Email</h2>
            <p class="ptk-formTitleInput">{{ user.email }}</p>
        </div>
        <div style="display: none">
            {{ form_widget(formEdit.email, {'value' : user.email}) }}
            {{ form_widget(formEdit.password, {'value' : user.password}) }}
            {{ form_widget(formEdit.category, {'value' : user.category.id}) }}
        </div>
    </div>
    {{ form_row(formEdit._token) }}
    <div class="ptk-formBttnsContainer">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="ptk-bttns">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(formEdit, {'render_rest': false }) }}
</div>
