<div class="ptk-profileFormContainer">
    <div class="ptk-formCloseContainer">
        <a class="ptk-formCloseBttn">
            <img src="{{ asset('build/images/closeBtn.png') }}" alt="Close"/>
        </a>
    </div>
    <div class="ptk-formTitleContainer">
        <h1 class="ptk-formTitle">Edit Profile</h1>
    </div>
    {{ form_start(formEdit) }}
    <div class="ptk-formErrors ptk-formContainerMargins">
        {{ form_errors(formEdit) }}
    </div>
    <div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(formEdit.firstname, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(formEdit.firstname, {'attr': {'class': 'ptk-formTitleInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(formEdit.lastname, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(formEdit.lastname, {'attr': {'class': 'ptk-formTitleInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(formEdit.birthday, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(formEdit.birthday, {'attr': {'class': 'ptk-formBirthdayInput'}}) }}
        </div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(formEdit.email, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(formEdit.email, {'attr': {'class': 'ptk-formTitleInput', 'disabled': true}}) }}
        </div>
    </div>
    <div>
        <div class="ptk-formRow ptk-formContainerMargins">
            {{ form_label(formEdit.category, null, {'label_attr': {'class': 'ptk-formLabels'}}) }}
            {{ form_widget(formEdit.category, {'attr': {'class': 'ptk-formTitleInput', 'disabled': true}}) }}
        </div>
    </div>
    {{ form_row(formEdit._token) }}
    <div class="ptk-formBttnsContainer">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="ptk-formBttns">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(formEdit, {'render_rest': false }) }}
</div>
