{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block header %}
    <div class="ptk-profileContainer">
        <div class="ptk-profileTitleContainer">
            <h1 class="ptk-profileHeader">Profile</h1>
        </div>
        <div class="ptk-profileDetailsContainer">
            <div class="ptk-profileDetailsLeft">
                <div class="ptk-profileDetailsRow">
                    <p class="ptk-profileLabels">Firstname:</p>
                    <p class="ptk-profileDetails">{{ user.firstname }}</p>
                </div>
                <div class="ptk-profileDetailsRow">
                    <p class="ptk-profileLabels">Lastname:</p>
                    <p class="ptk-profileDetails">{{ user.lastname }}</p>
                </div>
                <div class="ptk-profileDetailsRow">
                    <p class="ptk-profileLabels">Department:</p>
                    <p class="ptk-profileDetails">{{ user.team }}</p>
                </div>
            </div>
            <div class="ptk-profileDetailsRight">
                <div class="ptk-profileDetailsRow">
                    <p class="ptk-profileLabelsR">D.O.B:</p>
                    <p class="ptk-profileDetails">{{ user.birthday }}</p>
                </div>
                <div class="ptk-profileDetailsRow">
                    <p class="ptk-profileLabelsR">Email:</p>
                    <p class="ptk-profileDetails">{{ user.email }}</p>
                </div>
            </div>
        </div>
        {% if app.user.id == user.id %}
        <a href="{{ path('app_user_edit', {id: user.id}) }}" class="ptk-cardsLink">
            <img class="ptk-editProfileIcon" src="{{ asset('build/images/editProfile.png') }}" alt="edit profile"/>
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block filters %}
    <div class="ptk-userFilterContainer">
        <div class="ptk-filterDataType">
            <div class="ptk-dropdownDatatype">
                <div class="ptk-ptk-dropDownbtnContainer">
                    <button class="ptk-dropDownbtn">Filter by</button>
                </div>
                <div class="ptk-dropdownContent">
                    <a href="{{ path('app_user_show', {id: user.id, 'orderBy': app.request.get('orderBy'), 'dataType': 'all'}) }}">All</a>
                    <a href="{{ path('app_user_show', {id: user.id, 'orderBy': app.request.get('orderBy'), 'dataType': 'project'}) }}">Projects</a>
                    <a href="{{ path('app_user_show', {id: user.id, 'orderBy': app.request.get('orderBy'), 'dataType': 'idea'}) }}">Ideas</a>
                </div>
            </div>
        </div>
        <div class="ptk-filtersOrderBy">
            <p class="ptk-filterSeparators ptk-filtersWhite"> Order by: </p>
            <a href="{{ path('app_user_show', {id: user.id, 'orderBy': 'newest', 'dataType': app.request.get('dataType')}) }}" class="ptk-filterLinks">newest</a>
            <p class="ptk-filterSeparators"> / </p>
            <a href="{{ path('app_user_show', {id: user.id, 'orderBy': 'oldest', 'dataType': app.request.get('dataType')}) }}" class="ptk-filterLinks">oldest</a>
            <p class="ptk-filterSeparators"> / </p>
            <a href="{{ path('app_user_show', {id: user.id, 'orderBy': 'views', 'dataType': app.request.get('dataType')}) }}" class="ptk-filterLinks">views</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="ptk-cardsBlock">
        <div class="ptk-ideaCardsContainer">
            {% for projectIdea in projectsIdeas %}
                {% if projectIdea.dataType == 'idea' %}
                    {# ------------ Idea cards --------------------------------------------------------------- #}
                    <div class="ptk-profileCardContainer">
                        <p class="ptk-profileCardTypeLabel">{{projectIdea.dataType}}</p>
                            <div class="ptk-ideaCards" style="border: 2.5px solid {{projectIdea.color}}">
                                <a href="{{ path('app_idea_show', {'id': projectIdea.id}) }}" class="ptk-cardsLink">
                                <div class="ptk-cardIdeaTitleContainer">
                                    <h1 class="ptk-cardIdeaTitle">{{ projectIdea.title|striptags|length > 40 ? projectIdea.title|striptags|slice(0, 40) ~ '...' : projectIdea.title|striptags }}</h1>
                                </div>
                                </a>
                                <div class="ptk-cardIdeaStatsContainer">
                                    <div class="ptk-cardStatsContainer">
                                        <div class="ptk-cardIconStats">
                                            {% if projectIdea.liked == 1 %}
                                                <a href="{{ path('app_idea_dislike', {'id': projectIdea.id}) }}" class="ptk-cardsLink">
                                                    <img src="{{ asset('build/images/blackheart.png') }}" class="ptk-ideaInfoIcons" alt="Dislike">
                                                </a>
                                            {% else %}
                                                <a href="{{ path('app_idea_like', {'id': projectIdea.id}) }}" class="ptk-cardsLink">
                                                    <img src="{{ asset('build/images/like.png') }}" class="ptk-ideaInfoIcons" alt="Like">
                                                </a>
                                            {% endif %}
                                            <p class="ptk-cardStatsNo">{{ projectIdea.likes }}</p>
                                        </div>
                                        <div class="ptk-cardIconStats">
                                            <img src="{{ asset('build/images/comment.png') }}" class="ptk-ideaInfoIcons" alt="Comments">
                                            <p class="ptk-cardStatsNo">{{ projectIdea.counts }}</p>
                                        </div>
                                        <div class="ptk-cardIconStats">
                                            <img src="{{ asset('build/images/view.png') }}" class="ptk-ideaInfoIcons" alt="Views">
                                            <p class="ptk-cardStatsNo">{{ projectIdea.views }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {% endif %}
                    {% if projectIdea.dataType == 'project' %}
                        {# ------------ Project cards --------------------------------------------------------------- #}
                        <div class="ptk-profileCardContainer">
                            <p class="ptk-profileCardTypeLabel">{{projectIdea.dataType}}</p>
                            <a href="{{ path('app_project_show', {'id': projectIdea.id, 'orderBy': 'show'}) }}" class="ptk-cardsLink">
                                <div class="ptk-cards">
                                    <div class="ptk-cardTitleContainer">
                                        <h1 class="ptk-cardTitle">{{ projectIdea.title|striptags|length > 40 ? projectIdea.title|striptags|slice(0, 40) ~ '...' : projectIdea.title|striptags }}</h1>
                                    </div>
                                    <div class="ptk-cardStatsContainer" style="background-color: {{ projectIdea.color }}">
                                        <div class="ptk-cardIconStats">
                                            <img src="{{ asset('build/images/idea.png') }}" alt="idea">
                                            {% if projectIdea.counts is null %}
                                                    <p class="ptk-cardStatsNo">0</p>
                                                {% else %}
                                                    <p class="ptk-cardStatsNo">{{ projectIdea.counts }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="ptk-cardIconStats">
                                            <img src="{{ asset('build/images/view.png') }}" class="ptk-ideaInfoIcons"
                                                 alt="Views">
                                            <p class="ptk-cardStatsNo">{{ projectIdea.views }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
